.darkModeContainer {
  max-width: 1000px;
  margin: 50px auto 15px;
  display: flex;
  justify-content: flex-end;
}

.darkModeContainer__button {
  font-family: "Rubik", sans-serif;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid rgba(124, 124, 124, 0.5);
  background-color: #fafafa;
}

.darkModeButton {
  background-color: rgba(100, 100, 100, 0.5);
  color: #fff;
  border: 1px solid #404040;
}

.body--darkMode {
  background-color: #646464;
  color: #fff;
}

.mainContainer--darkMode {
  background-color: #646464;
  color: #fff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.314);
}

.navigation__link--darkMode {
  background-color: #646464;
  color: #fff;
}
