html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-color: #fafafa;
}

.mainContainer {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 40px;
  text-align: justify;
  box-shadow: 1px 1px 20px #dddddd;
  border-radius: 8px;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.image {
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
