html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-color: #fafafa;
}

.container {
  max-width: 1000px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px 40px;
  text-align: justify;
  border-radius: 10px;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.image {
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.span {
  color: #3030ff;
}

.button {
  color: #000000;
  padding: 10px;
  border-radius: 10px;
}
